body {
  margin: 0;
  height: 100vh;
  display: flex;                 
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;
  background-color: #f7f7f6;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.nav li {
  margin-right: 15px;
  gap: 15px;
}

.nav a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: black;
}

.img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  margin: 5px;
}

.info h1 {
  font-size: 20px;
  text-align: left;
}

.info p {
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 5px;
  text-align: left;
}

.form fieldset {
  border: none;
}

.form input[type="number"] {
  width: 60px;
  margin-bottom: 5px;
}

.form label[name="quantity"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.form button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 35px;
  border: 1px solid #333;
  background-color: transparent;
  color: black;
}

#a {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 5px;
  margin-left: 5px;
  text-decoration: none;
  color: black;
}
