.body {
  text-align: left;
  font-size: 16px;
  background-color: #f7f7f6;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: black;
}

.img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.info h1 {
  font-size: 20px;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: left;
}
