.body {
  text-align: left;
  font-size: 16px;
  background-color: #f7f7f6;
  font-family: 'Arial', sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f6;
  background-image: url('https://img.freepik.com/premium-vector/floral-leaf-vector-background-design-with-soft-pastel-color_931262-390.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 36px;
  color: black;
  font-family: Brush Script MT;
  margin-bottom: 5px;
}

.hero p {
  font-size: 18px;
  color: #98975c;
  margin-top: 20px;
}

.nav {
  width: 100%;
  text-align: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  gap: 5px;
}

.nav li {
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: black;
}

#button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
  border-style: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
