.body {
  text-align: left;
  font-size: 16px;
  background-color: #f7f7f6;
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f6;
  background-image: url('https://img.freepik.com/premium-vector/floral-leaf-vector-background-design-with-soft-pastel-color_931262-390.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  color: black;
  font-family: Brush Script MT;
  margin-bottom: 5px;
}

.hero p {
  font-size: 18px;
  color: #98975c;
  margin-top: 20px;
}

.container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#svg2 {
  height: 45px;
  width: 45px;
  display: block;
  max-width: none;
  max-height: none;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#svg3 {
  width: 50px;
  height: 50px;
  display: block;
  max-width: none;
  max-height: none;
}

.form {
  position: relative;
  width: fit-content;
  margin-left: 0;
  margin-bottom: 20px;
}

.form input {
  width: 250px;
  height: 35px;
  border-radius: 35px;
  padding: 0 40px 0 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form #button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  height: 25px;
  width: 25px;
  z-index: 10;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

.grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: block;
}

.grid h3,
.grid p {
  text-align: center;
  color: #333;
  margin: 10px 0 5px;
}

.grid h3 {
  font-size: 18px;
}


.grid form {
  border-radius: 35px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid #333;
  background-color: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  color: black;
}
