.body {
  text-align: left;
  font-size: 16px;
  background-color: #f7f7f6;
  font-family: 'Arial', sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f6;
  background-image: url('https://tse1.mm.bing.net/th/id/OIP.qFEWiPFBpV0ex7KBvyQofAHaEo?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3');
  background-repeat: no-repeat;
  background-postiotion: center;
  backgound-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  color: black;
  font-family: Brush Script MT;
  margin-bottom: 5px;
}

.hero p {
  font-size: 18px;
  color: #98975c;
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

.nav li {
  gap: 5px;
}

.nav a {
  text-decoration: none;
  color: black;
}

#button {
  background-color: white;
  border-style: 1px solid;
  border-color: #000000;
  border-radius: 35px;
  width: 15px;
  height: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
